div {
  position: absolute;
  left: 0.86%;
  right: 0.86%;
  top: 5.16%;
  bottom: 14.43%;
  background: #000000;
  height: 19.297739028930664px;
  width: 23.58612632751465px;
  left: 0.206939697265625px;
  top: 1.2382125854492188px;
  /* border-radius: [object Object]px; */

}