.truncate-text {
  background: #c8ad90;
  padding: 1rem;
  /* width: 100%; */
  height: 80px;
  overflow: hidden;
  position: relative;
}
 
.truncate-text:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(180deg, transparent, #c8ad90 50%);
}